TinyTranslatorApplicationServer/TinyTranslatorApplicationServer.v11.suo
TinyTranslatorApplicationServer/TinyTranslatorApplicationServer/App_Data/
TinyTranslatorApplicationServer/TinyTranslatorApplicationServer/Properties/PublishProfiles/
TinyTranslatorApplicationServer/TinyTranslatorApplicationServer/bin/
TinyTranslatorApplicationServer/TinyTranslatorApplicationServer/obj/
TinyTranslatorSyncAssemblyClient/TinyTranslatorSyncAssemblyClient.v11.suo
TinyTranslatorSyncAssemblyClient/TinyTranslatorSyncAssemblyClient/bin/
TinyTranslatorSyncAssemblyClient/TinyTranslatorSyncAssemblyClient/obj/
