TinyTranslatorApplicationServer/TinyTranslatorApplicationServer.v11.suo
TinyTranslatorApplicationServer/TinyTranslatorApplicationServer/App_Data/
TinyTranslatorApplicationServer/TinyTranslatorApplicationServer/Properties/PublishProfiles/
TinyTranslatorApplicationServer/TinyTranslatorApplicationServer/bin/
TinyTranslatorApplicationServer/TinyTranslatorApplicationServer/obj/
TinyTranslatorApplicationServer/TinyTranslatorApplicationServer/logs/
TinyTranslatorSyncAssemblyClient/TinyTranslatorSyncAssemblyClient.v11.suo
TinyTranslatorSyncAssemblyClient/TinyTranslatorSyncAssemblyClient/bin/
TinyTranslatorSyncAssemblyClient/TinyTranslatorSyncAssemblyClient/obj/
TinyTranslatorImportTranslationsClient/TinyTranslatorImportTranslationsClient.v11.suo
TinyTranslatorImportTranslationsClient/TinyTranslatorImportTranslationsClient/bin/
TinyTranslatorImportTranslationsClient/TinyTranslatorImportTranslationsClient/obj/
TinyTranslatorExportTranslationsClient/TinyTranslatorExportTranslationsClient.v11.suo
TinyTranslatorExportTranslationsClient/TinyTranslatorExportTranslationsClient/bin/
TinyTranslatorExportTranslationsClient/TinyTranslatorExportTranslationsClient/obj/
TinyTranslatorGui/TinyTranslatorGui.v11.suo
TinyTranslatorGui/TinyTranslatorGui/bin/
TinyTranslatorGui/TinyTranslatorGui/obj/
